<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav', {user: locals.user ? user : null }) %>
        <div class="container">
            <%- include('partials/settingTitle', {guild: guild, setting : { backUrl:'/dashboard'} }) %>
            <div class="row">
                <%- include('partials/settingOverview', {setting: { name: 'Commands',     icon: '/img/commands.png', url: `/guild/${guild.id}/commands`}}) %>
                <%- include('partials/settingOverview', {setting: { name: 'Language',     icon: '/img/language.png', url: `/guild/${guild.id}/language`}}) %>
                <%- include('partials/settingOverview', {setting: { name: 'Almanax',      icon: '/img/almanax.png',  url: `/guild/${guild.id}/almanax`}}) %>
                <%- include('partials/settingOverview', {setting: { name: 'Dofus Server', icon: '/img/server.png',   url: `/guild/${guild.id}/server`}}) %>
                <%- include('partials/settingOverview', {setting: { name: 'Twitter',      icon: '/img/twitter.png',  url: `/guild/${guild.id}/twitter`}}) %>
                <%- include('partials/settingOverview', {setting: { name: 'RSS Feeds',    icon: '/img/rss.png',      url: `/guild/${guild.id}/rss`}}) %>
            </div>
        </div>
    </body>
    <%- include('partials/scripts') %>
</html>